@import "tailwindcss";

@plugin "../hero.js";

/* Add HERO UI theme source */
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

/* Enable dark mode based on `.dark` class */
@custom-variant dark (&:is(.dark *));
